<div class="form-group" [formGroup]="loginForm" >
  <label for="email">Email address:</label>
  <input type="email" class="form-control" placeholder="Enter email" id="email" formControlName="email" >
  <span class="error-msg" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors" >
    <ng-container *ngIf="loginForm.controls.email.errors.required; else invbalid">
      Please enter Email.

    </ng-container>
    <ng-template #invbalid >

      Please enter a valid Email.
    </ng-template>
  </span>
</div>
