<div class="form-group" [formGroup]="loginForm" >
  <label for="password">Password</label>
  <input type="Password" class="form-control" placeholder="Enter Password" id="password" formControlName="password">
  <span class="error-msg" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors" >
    Please enter password
  </span>
</div>
