<div class="intro-wrap" >
  <div class="container">
    <div class="nav-wraper">
      <app-nav></app-nav>
    </div>
    <div class="intro-content-wraper">
      <div class="row" >
        <div class="col-sm-6" >
          <div class="left-cont-wrap" >
            <p class="main-head" >Designed by <br> Indian Engineers</p>
            <p class="description" >
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div>
              <button class="btn btn-warning view-products-btn" >View Products</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6" >
          <div class="right-img-wrap" >
            <img src="../../../../assets/img/bg/banner_illustration.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="mouse-btn" >
    <img src="../../../../assets/img/icons/mouse.png" alt="">
  </span>
</div>
