.intro-wrap{
  background-color: #4242f3;
  background-image: url(../../../../assets/img/bg/banner_light.png);
  min-height: 512px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-5deg);
    z-index: -5;
  }
}

.mouse-btn{
  content: "";
  position: absolute;
  background: var(--app-theme);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -13%;
  left: 48%;
  text-align: center;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;

  img{
    height: 100%;
  }
}



.intro-content-wraper{
  padding: 10% 15px;

  .left-cont-wrap{
    color: var(--app-light);

    .main-head{
      font-size: 35px;
      font-weight: 700;
    }
    .description{
      font-size: 12px;
      color: var(--app-light-tint);
    }
    .view-products-btn{
      border-radius: 25px;
      padding: 10px 25px;
      color: var(--app-light);
      background: var(--app-btn-bg);
      border-color: var(--app-btn-bg);
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .right-img-wrap{
    img{
      width: 100%;
    }
  }
}
