.content-wrap{
  padding: 15% 15px 15px;

  .top-text{
    padding: 15px;
  }

  .key-feature-text{
    font-size: 20px;
    position: relative;
    z-index: 9999;
    width: 150px;
    display: inline-block;
    &::after{
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      height: 60px;
      background: url(../../../../assets/img/icons/keyfeaturebg.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -5;
      top: -10px;
    }
  }
}
.card-content-wrap{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
