<div class="container" >
  <div class="content-wrap">
    <div class="row" >
      <div class="col-sm-12 text-center" >
        <div class="top-text" >
          <span class="key-feature-text" >Key Features</span>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="card-content-wrap" >
        <div class="col-sm-4" *ngFor="let feature of keyFeatures" >
          <app-feature [feature]="feature" ></app-feature>
        </div>
      </div>
    </div>

  </div>
</div>
