<div class="login-container-wrap" >
  <div class="login-content" >
    <h3 class="text-center" >Login</h3>
    <div class="login-form-wrap">
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()" >
        <app-email-input [loginForm]="loginForm"></app-email-input>
        <app-password-input [loginForm]="loginForm"></app-password-input>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" >Login</button>
      </form>
    </div>
  </div>
</div>
