.login-container-wrap {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-content{
  flex: 0 0 50%;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
