.each-card-wrap {
  cursor: pointer;
  max-width: 272px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .each-section {
    padding: 15px;

    .img-bg-wrap{
      width: 50px;
      height: 50px;
      background: #e8ebf0;
      padding: 8px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        height: 100%;
      }
    }
  }
  .content-bottom{
    h4{
      font-size: 14px;
    }
    p{
      font-size: 12px;
      color: rgba(0 , 0 ,0 ,.5);
    }
  }
}

.each-card-wrap:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    .img-bg-wrap{
      background: var(--app-theme) !important;

    }
}
