<div class="each-card-wrap" (mouseenter)="onHover()" (mouseleave)="onLeave()" >
  <div class="each-section content-top">
    <div class="img-bg-wrap">
      <img [src]="iconImg" alt="">
    </div>
  </div>
  <div class="each-section content-bottom">
    <h4>{{ feature.head }}</h4>
    <p>
      {{ feature.details }}
    </p>
  </div>
</div>
