/* You can add global styles to this file, and also import other style files */
:root{
  --app-theme: #1c59d3;
  --app-danger: red;
  --app-btn-bg: #e7910d;
  --app-light: #ffffff;
  --app-light-tint: rgba(255, 255,255,.8);
}
*{
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
.error-msg{
  color: var(--app-danger);
}
